body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background: linear-gradient(
    135deg,
    #6f6df4,
    #4c4af4
) fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.input-group {
  margin: 10px 0;
}

input {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #cdccfd;
  color: #6f6df4;
}

label {
  display: block;
  font-weight: bold;
}

h1 {
  margin: 0;
}
